.footer__container{
    margin-top: 71px;
    margin-left:160px;
    margin-right:160px;
    margin-bottom: 37px;
    display: flex;
    font-family: $primary-font;
    justify-content: space-around;
    .footer__article{
        padding: 27px 96px;
        line-height: 30px;
        h3{
            margin-bottom: 8px;
            margin-top: 8px;
            font-size: 24px;
        }
        p{
            font-size: 18px;
            color: $grey;
            max-width: 300px;
        }
        &:hover{
            transform: scale(1.3);
        }
    }

    // .article1{
    //     padding-left: 130px;
    // }

    // .article3{
    //     padding-right: 130px;
    // }
}
